:root{
    --c-primary : #FFFFFF;
    --c-on-primary : #000000;
    --f-size : 16px;
}
html{
    background: white;
}
form, .preview{
    width: min(100%, 30rem);
    margin-inline: auto;
}
form{
    background: rgb(207, 207, 207);
    padding-block: 1rem;
    padding-inline: .6rem;
    border-radius: 1rem;
    font-size: 1.2rem;
}
form > div{
    display: grid;
    grid-template-columns: 1fr;
}
form input{
    margin-block-end: 1rem;
}
form [type="color"]{
    width: 100%;
}
#preview{
    background: var(--c-primary);
    color: var(--c-on-primary);
    font-size: var(--f-size);
}